
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');


body{background-color:#f9f4f1;color:#163f3d;font-family:'Open Sans',sans-serif}.hidden-h1{text-indent:100%;white-space:nowrap;overflow:hidden;position:absolute;z-index:-1;color:transparent;font-size:1px;left:-100vh}.hero_container,.sidebar-nav{position:relative}
h1,h2,h3,h4,h5{font-family:Lora,serif}
@media screen and (max-width:38.9375em){
  .full-left-pannel h1,h2,h3,h4,h5{text-align:center}
}
input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
::selection, textarea::selection {
  background: #fda085; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #fda085; /* Gecko Browsers */
  color:#fff;
}


*:focus {
  outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid #fda085;
    -webkit-text-fill-color:#fda085;
    -webkit-box-shadow: 0 0 0px 1000px #f9f4f1 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  input:-webkit-autofill::selection, textarea:-webkit-autofill::selection {
    background: #fda085; /* WebKit/Blink Browsers */
  color:#fff;
  }
h2 {font-size:4em; margin-bottom:0.2em}
.hero_container{
  max-width:1600px;margin:0 auto;padding-top:0;display:block;width:100%;height:100vh;overflow:hidden;}
.hero_project_title_block{    position: absolute;
  margin: 5% 12%;
  width: 60%;
  color: #fff;
  font-size: 3em;
}

.body_full {
  height:100vh;
  position: relative;
    overflow: auto;
}
@media screen and (min-width:38.9375em){
  .body_full {overflow:hidden;}
}

.topo_img {
  position: absolute;
  z-index: -1;
}
.full-left-pannel{
  height: 100%;
}
.hero_project_img{ 
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
} 
.hero_project_img img {
  float:right;
  opacity:0.7;
}

.hero_project_img video {
  float:right;
  opacity:0.7;
}


.hero_project_img .phone_container, .hero_project_img .phone_container2 {
  margin: 15% 30%;
}

.hero_project_img .meka {
  max-width: 800px;
  margin-top: 10%;
  float: right;
}

.hero_project_img .kelisto_img {
  max-width: 1200px;
}
.hero_project_img .sharemos_img {
  margin-top: 10%;
}




.loading_cover,p.content-project{font-family:Lora,serif}.alpe_rouge_container{position:relative;min-height:600px;margin-top:10%}.alpe_rouge_text_h2{z-index:9999;position:relative;margin:10% 3%}.alpe_rouge_text_descrip_container{border-radius: 4px;background-image: linear-gradient(to right,#163f3d 0 ,#fda085 100%);width:40%;height:500px;z-index:2;top:-30px;position:absolute}.alpe_rouge_text_descrip_container_text a{color:#fff;font-weight:bold;}.alpe_rouge_text_descrip_container_text{color: white;bottom:20%;position:absolute;padding:3%;text-align:right;width:100%}.alpe_rouge_img img{border-radius: 4px; }.alpe_rouge_img{width:80%;float:right;top:70px;right:0;position:absolute}@media screen and (max-width:59.9375em){.alpe_rouge_container{min-height:300px}.alpe_rouge_text_descrip_container{border-radius: 4px;top:0;height: 300px;  width: 72%;position: relative;}
.hero_container{
    padding-top:5%;padding-bottom:10%}
    .hero_project_title_block{margin:15% 7%;width:70%}}p.content-project{font-style:normal;font-size:21px;line-height:1.58;letter-spacing:-.003em}@media screen and (min-width:59.9375em){.sidebar-nav{display:block;position:fixed;margin-top:2%;z-index:9999;padding-left:1%}#header-mobile{display:none}.availability{margin-top: 0;}}@media screen and (max-width:59.9375em){.sidebar-nav{display:none}.availability{margin-top: 39px;}#header-mobile{position:fixed;top:0;display:block;z-index:9999;background:#fff;width:100%}#header-mobile .menu__item{display:inline-block}#header-mobile .menu__item .menu__item-name{font-size:.8em; font-family: Lora,serif;}#header-mobile .menu__item img{width:60px;padding:0 3%}}.sidebar-menu-mobile{position:fixed;z-index:9999;background:#fff;width:100%;height:100vh;padding-top:40%}
    .availability{
      margin: 0;
      position:relative;
      width:100%;
      height:auto;
      min-height:25px;
      z-index:999;
      background-image:linear-gradient(to right,#163f3d 0,#fda085 51%,#f6d365 100%);
      top:0;
      text-align:center;
      color:#fff}
      @media screen and (min-width:59.9375em){ 
        .availability{position:fixed;}
      }
    .availability h6{font-size:.8rem;margin-bottom:0;line-height:1.8em; transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);}.greyed{color:#8a8a8a}a.fat_underline{color:#fff;cursor:pointer;border-bottom:3px solid #fff}.menu__item{position:relative;display:flex;flex-direction:column;align-items:left;margin:.5em 0;text-align:left}.text_center,footer{text-align:center}.menu__item:last-child{margin-bottom:0}.menu__item-name{font-size:1em;padding:0 .25em;color:#303136;}.email_footer,.skills_highlight{color:#163f3d}.menu__item-name::before{top:calc(55%)}.menu__item-name::before,.project__item-btn::before{content:'';position:absolute;left:0;width:100%;height:1px;pointer-events:none;background:currentColor;transform:scale3d(0,1,1);transform-origin:100% 50%;transition:transform .5s;transition-timing-function:cubic-bezier(.8,0,.2,1)}.menu__item:focus .menu__item-name::before,.menu__item:hover .menu__item-name::before,.prjct-img_block_pstn-relative:hover .project__item-btn::before,.prjct-img_block_pstn-relative_opposite:hover .project__item-btn::before{transform:scale3d(1,1,1);transform-origin:0 50%}
.loading_cover{background:#F1F1F1;font-size:20em;height:100vh;position:absolute;width:100%}.loading_cover svg{top: 0; position: absolute; z-index: 9999; }
.hero_block,.prjct-dtls,.prjct-img_block_pstn-relative{position:relative}.padding10_both{padding:10% 0}.padding5_both{padding:5% 0}.padding10_top{padding-top:10%}.padding5_top{padding-top:5%}.padding10_bottom{padding-bottom:10%}.padding5_bottom{padding-bottom:5%}.margin10_both{margin:10% 0}.margin5_both{margin:5% 0}.margin20_top{margin-top:20%}.margin10_top{margin-top:10%}.margin5_top{margin-top:5%}.margin10_bottom{margin-bottom:10%}.margin5_bottom{margin-bottom:5%}div.skills_underline_orange{width:15%;max-width:90px;border-top:3px solid #163f3d;margin-bottom:.5em}.svgicon-github,.svgicon-instagram{width:2em;height:2em;margin-right:.5em}.email_footer{font-size:30px}ul.no_bullet{list-style-type:none;padding:0;margin:0;line-height:1.3em}.list-space{        height: 40px;
  padding-top: 3px;}.checked,.target_blank{padding-left:44px;padding-top:3px}
  .checked{background:url(../images/checked_icon.svg) left top no-repeat;height:40px }.target_blank{background:url(../images/target_blank.svg) left top no-repeat;height:30px}li.twolines{margin-bottom:0; }@media screen and (min-width:38.9375em){li.twolines{margin-bottom:10px}}.convy-row,.home_fade,.kelisto-row,.meka-row,.sharemos-row{-webkit-animation:fadein 2s;-moz-animation:fadein 2s;-ms-animation:fadein 2s;-o-animation:fadein 2s;animation:fadein 2s}@keyframes fadein{from{opacity:0}to{opacity:1}}@-moz-keyframes fadein{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}@-ms-keyframes fadein{from{opacity:0}to{opacity:1}}@-o-keyframes fadein{from{opacity:0}to{opacity:1}}.icon-svg{display:inline-block;width:2em;height:2em;stroke-width:0;stroke:currentColor;fill:currentColor}.svgicon-assessment,.svgicon-business_obj,.svgicon-chef-hat,.svgicon-drink-coffee,.svgicon-execution,.svgicon-music-note,.svgicon-notebook-2,.svgicon-paint-palette,.svgicon-virtual_reality,.svgicon-vision{width:3em;height:3em;stroke:#cacaca}.svgicon-figma{width:2.5em;height:2.5em;stroke:#cacaca}@media only screen and (max-width:600px){.svgicon-assessment,.svgicon-business_obj,.svgicon-chef-hat,.svgicon-drink-coffee,.svgicon-execution,.svgicon-figma,.svgicon-music-note,.svgicon-notebook-2,.svgicon-paint-palette,.svgicon-virtual_reality,.svgicon-vision{width:2em;height:2em}}.hero_block{z-index:1;min-height:500px}@media screen and (max-width:39.9375em){.topbar-responsive .menu .topbar-responsive-button{width:100%;margin:.875rem 0}}.no-margin{margin-bottom:20%}
  .hero_pctre{z-index:-1}.hero_pctre img{border-radius: 4px;display:block;width:100%;max-width:280px;margin:0 auto}.last-prjct{margin-top:0;z-index:3;background-color:transparent}.dtls-text{padding-top:10%}
  h2.hero_line {margin-top:2em;font-size: 2.1rem; text-align:center;}
  .last-prjct{margin-top:40px;background-color:#fff; border-radius: 4px;}
  .prjct-dtls{padding:0 2%}

  .prjct-img_block_pstn-relative, .prjct-img_block_pstn-relative_opposite {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .prjct-img_block_pstn-relative a, .prjct-img_block_pstn-relative_opposite a {
    display:block; 
    position: relative; 
    margin:2em auto; 
    right: 0; 
    border-radius:45px;
    letter-spacing:.1em;
    padding:3px;
    height:54px;
    width:250px;
    font-size:1.2em;
    color:#fff;
    background-image:linear-gradient(to right,#163f3d 0,#fda085 51%,#f6d365 100%);box-shadow:0 15px 22px rgba(0,0,0,.1);
    cursor:pointer}
  @media screen and (min-width:38.9375em){
    .last-prjct{margin-top:-100px;background-color:#fff}
    h2.hero_line { margin-top:0; font-size: 2.5rem; text-align:left;}
    .hero_pctre img{min-width:480px}
    .no-margin{margin-bottom:3%;padding:0 2%}
    .prjct-dtls{margin-bottom: 20%; }
    .last-prjct-dtls{padding:0 2%; margin-bottom:0}
    .dtls-text{padding-top:0}
    .prjct-img_block_pstn-relative a,.prjct-img_block_pstn-relative_opposite a{position:absolute; margin: 0 auto; right:3%;bottom:-24px;}
  }
    .prjct-img_block_inner_pstn-absolute img,.prjct-img_block_inner_pstn-absolute_opposite img, .prjct-img_block_inner_pstn-absolute_opposite video,.prjct-large-bg{border-radius: 4px;transition:All .5s ease-in-out;-webkit-transition:All .5s ease-in-out;-moz-transition:All .5s ease-in-out;-o-transition:All .5s ease-in-out}
    .prjct-img_block_pstn-relative a:hover,.prjct-img_block_pstn-relative_opposite a:hover{cursor:pointer}
    h5.gradient_effect{font-size:1.25rem;color:#fff;text-align:center;padding:10px}
    .project__item-btn::before{background:#fff;top:calc(52%)}
    .prjct-img_block_inner_pstn-relative{position:relative}
    .prjct-img_block_inner_pstn-absolute,.prjct-img_block_inner_pstn-absolute_opposite{display:none;position:relative;bottom:20px;left:0}
    .prjct-img_block_opposite{position:relative;right:0}.prjct-img_block_inner_pstn-absolute img,.prjct-img_block_inner_pstn-relative img{margin-right:5px;max-width:100%}
    @media screen and (min-width:38.9375em){
      .prjct-img_block_inner_pstn-absolute,.prjct-img_block_inner_pstn-absolute_opposite{display:block;position:absolute;bottom:40px;left:-29px}
      .prjct-img_block_opposite{position:absolute;right:-75px}.prjct-img_block{position:absolute;left:-75px}
      .prjct-img_block_inner_pstn-absolute img,.prjct-img_block_inner_pstn-relative img{margin-right:10px;max-width:90%}
    }
      .prjct-img_block_inner_pstn-relative_opposite,.prjct-img_block_pstn-relative_opposite{position:relative}
      .prjct-img_block_inner_pstn-absolute_opposite img{margin-right:10px}#skills h4{margin-bottom:0}
      .border-skills{border-right:1px solid #163f3d;height:50px;margin:3% 0}.h2bottom{margin-bottom:0}div.skills_underline_black{width:10%;border-top:1px solid #321c52;margin-bottom:.5em}.convy,.kelisto,.meka,.sharemos{height:50%;width:100%}.prjct-img_block_pstn-relative:hover .prjct-img_block_inner_pstn-absolute img,.prjct-img_block_pstn-relative_opposite:hover .prjct-img_block_inner_pstn-absolute_opposite img{transform:translate(-22px,0);-webkit-transform:translate(-22px,0);-moz-transform:translate(-22px,0);-o-transform:translate(-22px,0);-ms-transform:translate(-22px,0);box-shadow:0 15px 22px rgba(0,0,0,.1)} .prjct-img_block_pstn-relative:hover .prjct-img_block_inner_pstn-absolute video,.prjct-img_block_pstn-relative_opposite:hover .prjct-img_block_inner_pstn-absolute_opposite video{transform:translate(-22px,0);-webkit-transform:translate(-22px,0);-moz-transform:translate(-22px,0);-o-transform:translate(-22px,0);-ms-transform:translate(-22px,0);box-shadow:0 15px 22px rgba(0,0,0,.1)} .prjct-img_block_pstn-relative:hover .prjct-large-bg,.prjct-img_block_pstn-relative_opposite:hover .prjct-large-bg{transform:rotate(0) scale(1.067) skew(0) translate(0);-webkit-transform:rotate(0) scale(1.067) skew(0) translate(0);-moz-transform:rotate(0) scale(1.067) skew(0) translate(0);-o-transform:rotate(0) scale(1.067) skew(0) translate(0);-ms-transform:rotate(0) scale(1.067) skew(0) translate(0)}
      .phone_inner_email_introduction {font-size: 0.8em;}
      .callout_publications{position:relative;margin:0 0 0.5em;padding:0.5em 0; height:230px}
      .callout_publications a {}
      .callout_publications h3 {font-size:0.8em}
      .callout_publications p {font-size:0.9em}
      .topleftblock {background-color:#3B3435;background:url(../images/topleftblockillustr.svg)}
      .toprightblock {background-color:#3B3435;background:url(../images/toprightblockillustr.svg)}
      .bottomleftblock {background-color:#FFC5C8;background:url(../images/bottomleftblockillustr.svg)}
      .bottomrightblock {background-color:#889E82;background:url(../images/bottomrightblockillustr.svg)}
      .topleftblockimg {margin: 15px auto;
        display: block;
        position: relative;}
      .bottomrightblockimg {margin: 15px auto 0 auto;
        display: block;
        position: relative;}
      .toprightblockimg {
        margin: 31px auto;
        display: block;
        position: relative;
      }
      .h3_topleftblock {color:#D3F3FF;}
      .h3_toprightblock, .h3_bottomleftblock, .h3_bottomrightblock {color:#3B3435;}
      .tag_topleftblock {color:#D3F3FF;}
      .tag_toprightblock {color:#3B3435;}
      .tag_bottomleftblock {color:#889E82;}
      .tag_bottomrightblock {color:#FFC5C8;}
      .tag_container {overflow: hidden; width: 100%; height:auto; display:block;}
      .tag_topleftblock, .tag_toprightblock, .tag_bottomleftblock, .tag_bottomrightblock {
        width: 80px;
        margin-right: 0;
        display: block;
        float: right;
      }
      .topleftblock .source_container{color:#fff}
      .source_container {    font-style: italic;
        font-size: 0.4em;}
      .inner_footer {
        margin: 10% auto;
        font-size:0.5em;
        text-align:center;
      }
      .convy-row,.kelisto-row,.meka-row,.sharemos-row{padding-top:7%}.text_right{text-align:right}.white{background:#fff}
.display-none {
  display: none;
}

#contactForm input[type="text"], #contactForm input[type="email"], #contactForm input[type="tel"], #contactForm input[type="url"], #contactForm textarea {
  width:100%;
  border: none;
  padding: 0;
  line-height: 2em;
  margin:1em 0;
}

#contactForm input[type="email"]:selected {
  background:transparent !important;
}
.no-spam {
  text-align:center;
  color:#888;
  padding:0;
}
.publications {
  margin-top:20%;
}
@media screen and (min-width:38.9375em){
  #contactForm input[type="text"], #contactForm input[type="email"], #contactForm input[type="tel"], #contactForm input[type="url"], #contactForm textarea {
  background:#f9f4f1;
  color:#fda085;
  padding: 0.8em;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
  line-height: 2.3em;
  margin:0;
  font-weight: bold;
  border:2px solid transparent;

  }
  .no-spam {
    text-align:left;
  }
  .publications {
    margin-top:0;
  }
}

#contactForm input[type="text"]:hover, #contactForm input[type="text"]:active, #contactForm input[type="text"]:focus, #contactForm input[type="email"]:hover, #contactForm input[type="tel"]:hover, #contactForm input[type="url"]:hover, #contactForm textarea:hover, {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
}



#contactForm input[type="submit"] {
  white-space: normal;
  cursor:pointer;
  width:100%;
  font-size: 1rem;
  padding: 1.4em 1em;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: 1px solid transparent;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color:transparent;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  transition:all 0.3s ease-in-out;
  color:#fff;
  font-weight:bold;
}

.label-form {
  font-family: Lora,serif;
}

#contactForm input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  opacity:0.9;
  border: 2px solid transparent;
}

#contactForm input:focus, #contactForm textarea:focus,  {
  outline: none;
  color:#fda085;
  opacity:0.9;
  caret-color: #fda085;
  border: 2px solid transparent;
}
::-webkit-input-placeholder {
 color:#fda085;
}
:-moz-placeholder {
 color:#fda085;
}
::-moz-placeholder {
 color:#fda085;
}
:-ms-input-placeholder {
 color:#fda085;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    outline:none;
    background: #fda085;
}


.section{
 position: relative;
    z-index: 1;
    background: #F1F1F1;
    min-height: 1000px;
    margin-top: 100vh;
        padding-top: 0%;
}

.logo_bp {
  position: relative;
  width: 200px;
  height: 80px;
  margin: 1% auto;
}
footer h2 {
  font-size:1.8em;
}
@media screen and (min-width:38.9375em){
  .logo_bp {
    position: relative;
    width: 200px;
    height: 80px;
    margin: 1% 0 0 0;
  }
}

@media screen and (max-width:38.9375em){
  #contactForm input[type="submit"], #contactForm input[type="email"]{
    text-align:center;
    background: transparent;
  }
}
.textfield_submit {
  border: 2px solid #fda085;
  margin: 0;
  padding: 0;
  border-right:none;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
}
.btn_submit {
  border: 2px solid #fda085;
  background-color:#fda085;
  color:#fff;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  margin: 0;
  padding: 0;
}

.btn_submit:hover {
  opacity:0.8;
}
.success{
  color:greenyellow;
}
.mobile_bg {
  background-color: #fff;
  border-radius: 1.2rem 1.2rem 0 0;
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
}
.phone {
  width: 355px;
  opacity:0.8;
  height: 660px;
  margin: 0 auto 5em auto;
  border-radius: 40px;
  box-sizing: border-box;
  position: relative;
  background-color: #212121;
  box-sizing: border-box;
  transition: border 0.2s ease-in;
}
@media screen and (min-width:38.9375em){
  .phone {
    margin: 0 auto;
  }
}

.email_bar {
  position: relative;
  background:#f9f4f1;
  height: 45px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(212,212,212,1);
  -moz-box-shadow: 0px 1px 7px 0px rgba(212,212,212,1);
  box-shadow: 0px 1px 7px 0px rgba(212,212,212,1);
}

.email_bar_left {
  margin-top: 12px;
  margin-left: 14px;
  float: left;
  font-size: 0.8em;
}
.email_bar_left img {width: 8px; height:auto; margin-left: 0.3em;
  margin-bottom: 0.3em;}

.email_bar_right {
  margin-top: 8px;
  float:right;
  }

.email_bar_right img {
  width: 13px;
  height: auto;
  margin-right: 8px;

}

.logo_bp_inner_phone_waves {
  position: relative;
    width: 80px;
    height: auto;
    margin: 1% auto;
    display: block;
}

.logo_bp_inner_phone_logo {
  display: block;
  position: relative;
  width: 190px;
  height: auto;
  margin-top:1em;
}


.notch {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 67px;
  background-color: #212121;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}
	
.censor {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 140px;
  background-color: #292929;
  border-radius: 50%;
  z-index: 3;
}
.camera {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 220px;
  background-color: #292929;
  border-radius: 50%;
  z-index: 3;
}
.speaker {
  width: 50px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 160px;
  background-color: #292929;
  border-radius: 10px;
  z-index: 3;
}
.screen {
  width: 335px;
  height: 637px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner {
  width: 92%;
  height: 100%;
  position: absolute;
  top: 60px;
  left:15px;
  padding-bottom: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ico_network {
  position: absolute;
  display: block;
  width: 19px;
  height: 8px;
  right: 47px;
  top: 18px;
}

.ico_battery {
  position: absolute;
  display: block;
  width: 19px;
  height: 8px;
  right: 47px;
  top: 18px;
}

.ico_chevron-left {
  
}

.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}

.mtxl, .maxl {
  margin-top: 3em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mbxl, .maxl {
  margin-bottom: 3em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}

.ptm {
  padding-top: 1em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}

.text-align-center{
  text-align:center;
}